<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>HTML5 File Upload Progress Bar Tutorial</h2>
<form id="upload-file-form">
    <label for="upload-file-input">Upload your file:</label>
    <input id="upload-file-input" type="file" name="uploadfile" accept="*" />
    <input type="button" value="upload" onclick="uploadFile()">
</form>
<!--<script type="text/javascript" src="../js/uploadTest.js"></script>-->
<script th:inline="javascript">
 /*<![CDATA[*/
function uploadFile() {
  $.ajax({
    url: "/video-upload",
    type: "POST",
    data: new FormData($("#upload-file-form")[0]),
    enctype: 'multipart/form-data',
    processData: false,
    contentType: false,
    cache: false,
    success: function () {
      // Handle upload success
      // ...
    },
    error: function () {
      // Handle upload error
      // ...
    }
  });
}
 /*]]>*/
</script>
</body>
</html>